.desktop {
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: rgba(255, 255, 255, 1.0);
  background: linear-gradient(180deg,
      rgb(51.4, 210.91, 246.71) 0%,
      rgb(29.83, 14.92, 96.26) 100%);
  width: 1440px;
  height: 6438px;
  position: relative;
}

.desktop .overlap {
  position: absolute;
  width: 1276px;
  height: 841px;
  top: 91px;
  left: 85px;
}

.desktop .main-base {
  position: absolute;
  width: 1270px;
  height: 841px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
  box-shadow: 24px 27px 14.6px #00000040;
}

.desktop .text-wrapper {
  position: absolute;
  width: 317px;
  top: 200px;
  left: 117px;
  font-family: "Abhaya Libre SemiBold-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .i-m-SANDIPAN {
  position: absolute;
  width: 513px;
  top: 276px;
  left: 99px;
  font-family: "Abhaya Libre ExtraBold-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .span {
  color: #000000;
}

.desktop .text-wrapper-2 {
  font-family: "Abhaya Libre SemiBold-Regular", Helvetica;
  color: #000000;
}

.desktop .text-wrapper-3 {
  font-family: "Ribeye Marrow-Regular", Helvetica;
  color: #1d28a8;
}

.desktop .rectangle {
  position: absolute;
  width: 445px;
  height: 52px;
  top: 369px;
  left: 127px;
  background-color: #2a87ea;
}

.desktop .digital-marketing {
  position: absolute;
  width: 437px;
  top: 377px;
  left: 131px;
  font-family: "Abhaya Libre SemiBold-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .about-me {
  position: absolute;
  width: 294px;
  height: 81px;
  top: 631px;
  left: 142px;
}

.desktop .overlap-group {
  position: relative;
  width: 292px;
  height: 81px;
  background-color: #2c87ea;
  border-radius: 120px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 252px;
  top: 22px;
  left: 21px;
  font-family: "Abhaya Libre SemiBold-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .MY-PHOTO-removebg {
  position: absolute;
  width: 665px;
  height: 672px;
  top: 104px;
  left: 611px;
}

.desktop .i-m-sandipan-ghosh-a {
  position: absolute;
  width: 441px;
  height: 122px;
  top: 453px;
  left: 131px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  color: #716d6d;
}

.desktop .overlap-2 {
  position: absolute;
  width: 1278px;
  height: 845px;
  top: 983px;
  left: 85px;
}

.desktop .element-page {
  position: absolute;
  width: 1278px;
  height: 845px;
  top: 0;
  left: 0;
}

.desktop .overlap-3 {
  position: relative;
  width: 1285px;
  height: 845px;
  left: -15px;
}

.desktop .main-base-2 {
  top: 4px;
  left: 15px;
  position: absolute;
  width: 1270px;
  height: 841px;
  background-color: #d9d9d9;
  box-shadow: 24px 27px 14.6px #00000040;
}

.desktop .rectangle-2 {
  position: absolute;
  width: 316px;
  height: 841px;
  top: 4px;
  left: 15px;
  background-color: #ffba31;
}

.desktop .rectangle-3 {
  position: absolute;
  width: 316px;
  height: 325px;
  top: 4px;
  left: 15px;
  background-color: #c8c5c5;
}

.desktop .img {
  position: absolute;
  width: 357px;
  height: 375px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .rectangle-4 {
  position: absolute;
  width: 687px;
  height: 137px;
  top: 59px;
  left: 471px;
  background-color: #d9d9d9;
  border: 3px solid;
  border-color: #000000;
}

.desktop .text-wrapper-6 {
  width: 687px;
  height: 137px;
  top: 56px;
  left: 468px;
  -webkit-text-stroke: 3px #000000;
  font-family: "Instrument Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  line-height: 117.1px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .i-m-SANDIPAN-GHOSH {
  position: absolute;
  width: 885px;
  height: 30px;
  top: 226px;
  left: 372px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30.5px;
}

.desktop .text-wrapper-7 {
  color: #585555;
}

.desktop .text-wrapper-8 {
  color: #323030;
}

.desktop .p {
  position: absolute;
  width: 885px;
  height: 97px;
  top: 283px;
  left: 372px;
  font-family: "Alike-Regular", Helvetica;
  font-weight: 400;
  color: #716d6d;
  font-size: 16px;
  text-align: justify;
  letter-spacing: 0;
  line-height: 20.1px;
}

.desktop .union {
  position: absolute;
  width: 349px;
  height: 62px;
  top: 389px;
  left: 349px;
}

.desktop .WHAT-i-CAN-DO {
  position: absolute;
  width: 249px;
  height: 58px;
  top: 390px;
  left: 372px;
  text-shadow: 0px 0px 3.8px #000000;
  font-family: "Inknut Antiqua-Bold", Helvetica;
  font-weight: 700;
  color: #1d0e60;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 51.6px;
  white-space: nowrap;
}

.desktop .div-wrapper {
  position: absolute;
  width: 383px;
  height: 192px;
  top: 449px;
  left: 390px;
}

.desktop .text-wrapper-9 {
  position: absolute;
  width: 383px;
  top: -1px;
  left: 0;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 34.6px;
}

.desktop .content-creation {
  position: absolute;
  width: 349px;
  height: 192px;
  top: 449px;
  left: 865px;
}

.desktop .text-wrapper-10 {
  position: absolute;
  width: 349px;
  top: -1px;
  left: 0;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 34.6px;
}

.desktop .data-analysis {
  position: absolute;
  width: 348px;
  height: 168px;
  top: 653px;
  left: 393px;
}

.desktop .text-wrapper-11 {
  position: absolute;
  width: 348px;
  top: -1px;
  left: 0;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.48px;
  line-height: 34.6px;
}

.desktop .brand-development {
  position: absolute;
  width: 349px;
  height: 168px;
  top: 653px;
  left: 865px;
}

.desktop .rectangle-5 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 410px;
  left: 149px;
  background-color: #d9d9d9;
}

.desktop .rectangle-6 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 743px;
  left: 149px;
  background-color: #d9d9d9;
}

.desktop .line {
  height: 30px;
  top: 435px;
  position: absolute;
  width: 1px;
  left: 158px;
}

.desktop .line-2 {
  height: 29px;
  top: 545px;
  position: absolute;
  width: 1px;
  left: 158px;
}

.desktop .line-3 {
  height: 30px;
  top: 600px;
  position: absolute;
  width: 1px;
  left: 158px;
}

.desktop .line-4 {
  height: 29px;
  top: 655px;
  position: absolute;
  width: 1px;
  left: 158px;
}

.desktop .line-5 {
  height: 30px;
  top: 709px;
  position: absolute;
  width: 1px;
  left: 158px;
}

.desktop .line-6 {
  height: 29px;
  top: 491px;
  position: absolute;
  width: 1px;
  left: 158px;
}

.desktop .text-wrapper-12 {
  position: absolute;
  width: 110px;
  height: 20px;
  top: 467px;
  left: 103px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-13 {
  position: absolute;
  width: 110px;
  height: 20px;
  top: 576px;
  left: 103px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-14 {
  position: absolute;
  width: 110px;
  height: 19px;
  top: 632px;
  left: 103px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-15 {
  width: 110px;
  height: 19px;
  top: 686px;
  left: 103px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-16 {
  width: 110px;
  height: 19px;
  top: 522px;
  left: 103px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .overlap-4 {
  position: absolute;
  width: 1295px;
  height: 844px;
  top: 1880px;
  left: 76px;
}

.desktop .element-nd-page {
  width: 1295px;
  height: 844px;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop .overlap-5 {
  position: relative;
  width: 1294px;
  height: 844px;
  left: -15px;
}

.desktop .main-base-3 {
  top: 3px;
  left: 24px;
  position: absolute;
  width: 1270px;
  height: 841px;
  background-color: #d9d9d9;
  box-shadow: 24px 27px 14.6px #00000040;
}

.desktop .rectangle-7 {
  top: 3px;
  left: 24px;
  position: absolute;
  width: 316px;
  height: 841px;
  background-color: #ffba31;
}

.desktop .rectangle-8 {
  top: 3px;
  left: 24px;
  position: absolute;
  width: 316px;
  height: 325px;
  background-color: #c8c5c5;
}

.desktop .MY-PHOTO-removebg-2 {
  width: 366px;
  height: 367px;
  top: 0;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.desktop .rectangle-9 {
  top: 58px;
  left: 480px;
  position: absolute;
  width: 687px;
  height: 137px;
  background-color: #d9d9d9;
  border: 3px solid;
  border-color: #000000;
}

.desktop .text-wrapper-17 {
  width: 687px;
  height: 137px;
  top: 55px;
  left: 477px;
  -webkit-text-stroke: 3px #000000;
  font-family: "Instrument Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  line-height: 117.1px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-18 {
  position: absolute;
  width: 215px;
  height: 30px;
  top: 215px;
  left: 381px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 30.5px;
}

.desktop .text-wrapper-19 {
  position: absolute;
  width: 215px;
  height: 30px;
  top: 414px;
  left: 381px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 30.5px;
}

.desktop .rectangle-10 {
  top: 409px;
  left: 173px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
}

.desktop .rectangle-11 {
  top: 742px;
  left: 173px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
}

.desktop .line-7 {
  top: 434px;
  left: 183px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-8 {
  top: 544px;
  left: 183px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .line-9 {
  top: 599px;
  left: 183px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-10 {
  top: 654px;
  left: 183px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .line-11 {
  top: 708px;
  left: 183px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-12 {
  top: 490px;
  left: 183px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .text-wrapper-20 {
  width: 110px;
  height: 20px;
  top: 467px;
  left: 127px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-21 {
  width: 110px;
  height: 20px;
  top: 576px;
  left: 127px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-22 {
  width: 110px;
  height: 19px;
  top: 632px;
  left: 127px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-23 {
  width: 110px;
  height: 19px;
  top: 686px;
  left: 127px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-24 {
  width: 110px;
  height: 19px;
  top: 522px;
  left: 127px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .element {
  position: absolute;
  width: 189px;
  height: 32px;
  top: 258px;
  left: 379px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #d0a143;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 39.0px;
  white-space: nowrap;
}

.desktop .text-wrapper-25 {
  position: absolute;
  width: 189px;
  height: 32px;
  top: 258px;
  left: 677px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #d0a143;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 39.0px;
  white-space: nowrap;
}

.desktop .text-wrapper-26 {
  position: absolute;
  width: 189px;
  height: 32px;
  top: 258px;
  left: 975px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #d0a143;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 39.0px;
  white-space: nowrap;
}

.desktop .text-wrapper-27 {
  position: absolute;
  width: 262px;
  height: 36px;
  top: 294px;
  left: 382px;
  font-family: "Instrument Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24.4px;
}

.desktop .text-wrapper-28 {
  position: absolute;
  width: 262px;
  height: 36px;
  top: 294px;
  left: 680px;
  font-family: "Instrument Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24.4px;
}

.desktop .text-wrapper-29 {
  position: absolute;
  width: 262px;
  height: 36px;
  top: 294px;
  left: 978px;
  font-family: "Instrument Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24.4px;
}

.desktop .WBBSE-WBCHSE {
  position: absolute;
  width: 262px;
  height: 36px;
  top: 329px;
  left: 382px;
  font-family: "Instrument Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24.4px;
}

.desktop .text-wrapper-30 {
  position: absolute;
  width: 262px;
  height: 36px;
  top: 329px;
  left: 680px;
  font-family: "Instrument Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24.4px;
}

.desktop .text-wrapper-31 {
  position: absolute;
  width: 262px;
  height: 36px;
  top: 329px;
  left: 978px;
  font-family: "Instrument Sans-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24.4px;
}

.desktop .element-2 {
  position: absolute;
  width: 262px;
  height: 36px;
  top: 361px;
  left: 386px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 29.3px;
}

.desktop .text-wrapper-32 {
  position: absolute;
  width: 262px;
  height: 36px;
  top: 361px;
  left: 684px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 29.3px;
}

.desktop .text-wrapper-33 {
  position: absolute;
  width: 262px;
  height: 36px;
  top: 361px;
  left: 982px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 29.3px;
}

.desktop .text-wrapper-34 {
  position: absolute;
  width: 247px;
  height: 29px;
  top: 459px;
  left: 444px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #d0a143;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.desktop .text-wrapper-35 {
  position: absolute;
  width: 301px;
  height: 29px;
  top: 459px;
  left: 864px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #d0a143;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.desktop .flexcontainer {
  left: 461px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  width: 299px;
  height: 234px;
  top: 528px;
}

.desktop .text {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-36 {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
}

.desktop .flexcontainer-2 {
  left: 879px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  width: 299px;
  height: 234px;
  top: 528px;
}

.desktop .overlap-6 {
  position: absolute;
  width: 1295px;
  height: 847px;
  top: 2773px;
  left: 72px;
}

.desktop .overlap-wrapper {
  width: 1295px;
  height: 847px;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop .overlap-7 {
  position: relative;
  width: 1298px;
  height: 847px;
  left: -15px;
}

.desktop .main-base-4 {
  top: 6px;
  left: 28px;
  position: absolute;
  width: 1270px;
  height: 841px;
  background-color: #d9d9d9;
  box-shadow: 24px 27px 14.6px #00000040;
}

.desktop .rectangle-12 {
  top: 6px;
  left: 28px;
  position: absolute;
  width: 316px;
  height: 841px;
  background-color: #ffba31;
}

.desktop .rectangle-13 {
  top: 6px;
  left: 28px;
  position: absolute;
  width: 316px;
  height: 325px;
  background-color: #c8c5c5;
}

.desktop .MY-PHOTO-removebg-3 {
  width: 366px;
  height: 375px;
  top: 0;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.desktop .rectangle-14 {
  top: 61px;
  left: 484px;
  position: absolute;
  width: 687px;
  height: 137px;
  background-color: #d9d9d9;
  border: 3px solid;
  border-color: #000000;
}

.desktop .text-wrapper-37 {
  width: 687px;
  height: 137px;
  top: 58px;
  left: 481px;
  -webkit-text-stroke: 3px #000000;
  font-family: "Instrument Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  line-height: 117.1px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .rectangle-15 {
  top: 412px;
  left: 177px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
}

.desktop .rectangle-16 {
  top: 745px;
  left: 177px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
}

.desktop .line-13 {
  top: 437px;
  left: 187px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-14 {
  top: 547px;
  left: 187px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .line-15 {
  top: 602px;
  left: 187px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-16 {
  top: 657px;
  left: 187px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .line-17 {
  top: 711px;
  left: 187px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-18 {
  top: 493px;
  left: 187px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .text-wrapper-38 {
  width: 110px;
  height: 20px;
  top: 470px;
  left: 131px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-39 {
  width: 110px;
  height: 20px;
  top: 579px;
  left: 131px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-40 {
  width: 110px;
  height: 19px;
  top: 635px;
  left: 131px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-41 {
  width: 110px;
  height: 19px;
  top: 689px;
  left: 131px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-42 {
  width: 110px;
  height: 19px;
  top: 525px;
  left: 131px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-43 {
  position: absolute;
  width: 162px;
  height: 35px;
  top: 262px;
  left: 486px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #716d6d;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 29.3px;
  white-space: nowrap;
}

.desktop .text-wrapper-44 {
  position: absolute;
  width: 162px;
  height: 35px;
  top: 262px;
  left: 922px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 29.3px;
  white-space: nowrap;
}

.desktop .text-wrapper-45 {
  position: absolute;
  width: 129px;
  height: 35px;
  top: 495px;
  left: 704px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 29.3px;
  white-space: nowrap;
}

.desktop .DURGA-PUJA-IVITATION {
  position: absolute;
  width: 128px;
  height: 219px;
  top: 331px;
  left: 458px;
  object-fit: cover;
}

.desktop .HAPPY-GURU-PURNIMA {
  position: absolute;
  width: 217px;
  height: 219px;
  top: 331px;
  left: 655px;
  object-fit: cover;
}

.desktop .digixpro-ad {
  position: absolute;
  width: 222px;
  height: 219px;
  top: 331px;
  left: 934px;
  object-fit: cover;
}

.desktop .element-3 {
  position: absolute;
  width: 330px;
  height: 118px;
  top: 564px;
  left: 458px;
  object-fit: cover;
}

.desktop .white-and-gray {
  position: absolute;
  width: 371px;
  height: 118px;
  top: 564px;
  left: 800px;
  object-fit: cover;
}

.desktop .NEW {
  position: absolute;
  width: 392px;
  height: 126px;
  top: 688px;
  left: 609px;
  object-fit: cover;
}

.desktop .text-wrapper-46 {
  top: 262px;
  left: 701px;
  color: #000000;
  position: absolute;
  width: 129px;
  height: 35px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 29.3px;
  white-space: nowrap;
}

.desktop .overlap-8 {
  position: absolute;
  width: 1282px;
  height: 841px;
  top: 3675px;
  left: 85px;
}

.desktop .overlap-group-wrapper {
  width: 1282px;
  height: 841px;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop .overlap-9 {
  position: relative;
  width: 1285px;
  height: 841px;
  left: -15px;
}

.desktop .main-base-5 {
  top: 0;
  left: 15px;
  position: absolute;
  width: 1270px;
  height: 841px;
  background-color: #d9d9d9;
  box-shadow: 24px 27px 14.6px #00000040;
}

.desktop .rectangle-17 {
  top: 0;
  left: 15px;
  position: absolute;
  width: 316px;
  height: 841px;
  background-color: #ffba31;
}

.desktop .rectangle-18 {
  top: 0;
  left: 15px;
  position: absolute;
  width: 316px;
  height: 325px;
  background-color: #c8c5c5;
}

.desktop .MY-PHOTO-removebg-4 {
  width: 356px;
  height: 360px;
  top: 7px;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.desktop .rectangle-19 {
  top: 55px;
  left: 471px;
  position: absolute;
  width: 687px;
  height: 137px;
  background-color: #d9d9d9;
  border: 3px solid;
  border-color: #000000;
}

.desktop .text-wrapper-47 {
  width: 687px;
  height: 137px;
  top: 52px;
  left: 468px;
  -webkit-text-stroke: 3px #000000;
  font-family: "Instrument Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  line-height: 117.1px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .rectangle-20 {
  top: 406px;
  left: 164px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
}

.desktop .rectangle-21 {
  top: 739px;
  left: 164px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
}

.desktop .line-19 {
  top: 431px;
  left: 174px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-20 {
  top: 541px;
  left: 174px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .line-21 {
  top: 596px;
  left: 174px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-22 {
  top: 651px;
  left: 174px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .line-23 {
  top: 705px;
  left: 174px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-24 {
  top: 487px;
  left: 174px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .text-wrapper-48 {
  width: 110px;
  height: 20px;
  top: 464px;
  left: 118px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-49 {
  width: 110px;
  height: 20px;
  top: 573px;
  left: 118px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-50 {
  width: 110px;
  height: 19px;
  top: 629px;
  left: 118px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-51 {
  width: 110px;
  height: 19px;
  top: 683px;
  left: 118px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-52 {
  width: 110px;
  height: 19px;
  top: 519px;
  left: 118px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-53 {
  left: 473px;
  position: absolute;
  width: 162px;
  height: 35px;
  top: 256px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 29.3px;
  white-space: nowrap;
}

.desktop .text-wrapper-54 {
  width: 162px;
  left: 909px;
  color: #000000;
  position: absolute;
  height: 35px;
  top: 256px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 29.3px;
  white-space: nowrap;
}

.desktop .text-wrapper-55 {
  top: 256px;
  left: 691px;
  color: #716d6d;
  position: absolute;
  width: 129px;
  height: 35px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 29.3px;
  white-space: nowrap;
}

.desktop .black-and-orange {
  position: absolute;
  width: 289px;
  height: 287px;
  top: 406px;
  left: 440px;
  object-fit: cover;
}

.desktop .basudev-logo {
  position: absolute;
  width: 279px;
  height: 287px;
  top: 406px;
  left: 820px;
  object-fit: cover;
}

.desktop .overlap-10 {
  position: absolute;
  width: 1296px;
  height: 841px;
  top: 4571px;
  left: 89px;
}

.desktop .element-page-2 {
  width: 1296px;
  height: 841px;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop .overlap-11 {
  position: relative;
  width: 1299px;
  height: 841px;
  left: -15px;
}

.desktop .main-base-6 {
  top: 0;
  left: 29px;
  position: absolute;
  width: 1270px;
  height: 841px;
  background-color: #d9d9d9;
  box-shadow: 24px 27px 14.6px #00000040;
}

.desktop .rectangle-22 {
  top: 0;
  left: 29px;
  position: absolute;
  width: 316px;
  height: 841px;
  background-color: #ffba31;
}

.desktop .rectangle-23 {
  top: 0;
  left: 29px;
  position: absolute;
  width: 316px;
  height: 325px;
  background-color: #c8c5c5;
}

.desktop .MY-PHOTO-removebg-5 {
  width: 368px;
  height: 357px;
  top: 0;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.desktop .rectangle-24 {
  top: 55px;
  left: 485px;
  position: absolute;
  width: 687px;
  height: 137px;
  background-color: #d9d9d9;
  border: 3px solid;
  border-color: #000000;
}

.desktop .text-wrapper-56 {
  width: 687px;
  height: 137px;
  top: 52px;
  left: 482px;
  -webkit-text-stroke: 3px #000000;
  font-family: "Instrument Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  line-height: 117.1px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .rectangle-25 {
  top: 406px;
  left: 178px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
}

.desktop .rectangle-26 {
  top: 739px;
  left: 178px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
}

.desktop .line-25 {
  top: 431px;
  left: 188px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-26 {
  top: 541px;
  left: 188px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .line-27 {
  top: 596px;
  left: 188px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-28 {
  top: 651px;
  left: 188px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .line-29 {
  top: 705px;
  left: 188px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-30 {
  top: 487px;
  left: 188px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .text-wrapper-57 {
  width: 110px;
  height: 20px;
  top: 464px;
  left: 132px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-58 {
  width: 110px;
  height: 20px;
  top: 573px;
  left: 132px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-59 {
  width: 110px;
  height: 19px;
  top: 629px;
  left: 132px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-60 {
  width: 110px;
  height: 19px;
  top: 683px;
  left: 132px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-61 {
  width: 110px;
  height: 19px;
  top: 519px;
  left: 132px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-62 {
  left: 487px;
  position: absolute;
  width: 162px;
  height: 35px;
  top: 256px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 29.3px;
  white-space: nowrap;
}

.desktop .text-wrapper-63 {
  width: 234px;
  left: 923px;
  color: #716d6d;
  position: absolute;
  height: 35px;
  top: 256px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 29.3px;
  white-space: nowrap;
}

.desktop .text-wrapper-64 {
  top: 256px;
  left: 705px;
  color: #000000;
  position: absolute;
  width: 129px;
  height: 35px;
  font-family: "Instrument Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 29.3px;
  white-space: nowrap;
}

.desktop .role-of-AI-in-social {
  position: absolute;
  width: 263px;
  height: 194px;
  top: 335px;
  left: 660px;
  background-color: #000000;
}

.desktop .DIGIXPRO-REELS {
  position: absolute;
  width: 167px;
  height: 221px;
  top: 320px;
  left: 935px;
  background-color: #000000;
}

.desktop .INSTA-WORKSPACE {
  position: absolute;
  width: 227px;
  height: 190px;
  top: 569px;
  left: 446px;
  background-color: #000000;
}

.desktop .amogh-physiotherapy {
  position: absolute;
  width: 161px;
  height: 220px;
  top: 556px;
  left: 711px;
  background-color: #000000;
}

.desktop .future-trends-in {
  position: absolute;
  width: 265px;
  height: 272px;
  top: 528px;
  left: 892px;
  background-color: #000000;
}

.desktop .durga-puja {
  position: absolute;
  width: 115px;
  height: 221px;
  top: 320px;
  left: 508px;
  background-color: #000000;
}

.desktop .overlap-12 {
  position: absolute;
  width: 1300px;
  height: 855px;
  top: 5497px;
  left: 102px;
}

.desktop .element-page-3 {
  width: 1300px;
  height: 855px;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop .overlap-13 {
  position: relative;
  width: 1301px;
  height: 855px;
  left: -15px;
}

.desktop .main-base-7 {
  top: 14px;
  left: 31px;
  position: absolute;
  width: 1270px;
  height: 841px;
  background-color: #d9d9d9;
  box-shadow: 24px 27px 14.6px #00000040;
}

.desktop .rectangle-27 {
  top: 14px;
  left: 31px;
  position: absolute;
  width: 316px;
  height: 841px;
  background-color: #ffba31;
}

.desktop .rectangle-28 {
  top: 14px;
  left: 31px;
  position: absolute;
  width: 316px;
  height: 325px;
  background-color: #c8c5c5;
}

.desktop .MY-PHOTO-removebg-6 {
  width: 371px;
  height: 375px;
  top: 0;
  position: absolute;
  left: 0;
  object-fit: cover;
}

.desktop .rectangle-29 {
  top: 69px;
  left: 487px;
  position: absolute;
  width: 687px;
  height: 137px;
  background-color: #d9d9d9;
  border: 3px solid;
  border-color: #000000;
}

.desktop .text-wrapper-65 {
  width: 687px;
  height: 137px;
  top: 66px;
  left: 484px;
  -webkit-text-stroke: 3px #000000;
  font-family: "Instrument Sans-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 96px;
  line-height: 117.1px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .rectangle-30 {
  top: 420px;
  left: 180px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
}

.desktop .rectangle-31 {
  top: 753px;
  left: 180px;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
}

.desktop .line-31 {
  top: 445px;
  left: 190px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-32 {
  top: 555px;
  left: 190px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .line-33 {
  top: 610px;
  left: 190px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-34 {
  top: 665px;
  left: 190px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .line-35 {
  top: 719px;
  left: 190px;
  position: absolute;
  width: 1px;
  height: 30px;
}

.desktop .line-36 {
  top: 501px;
  left: 190px;
  position: absolute;
  width: 1px;
  height: 29px;
}

.desktop .text-wrapper-66 {
  width: 110px;
  height: 20px;
  top: 478px;
  left: 134px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-67 {
  width: 110px;
  height: 20px;
  top: 587px;
  left: 134px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-68 {
  width: 110px;
  height: 19px;
  top: 643px;
  left: 134px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-69 {
  width: 110px;
  height: 19px;
  top: 697px;
  left: 134px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  line-height: normal;
  white-space: nowrap;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
}

.desktop .text-wrapper-70 {
  width: 110px;
  height: 19px;
  top: 533px;
  left: 134px;
  font-family: "Istok Web-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  white-space: nowrap;
}

.desktop .feel-free-to-contact {
  position: absolute;
  width: 678px;
  height: 61px;
  top: 246px;
  left: 411px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 123.7px;
  white-space: nowrap;
}

.desktop .call-logo {
  position: absolute;
  width: 92px;
  height: 95px;
  top: 479px;
  left: 859px;
}

.desktop .gmail-logo {
  position: absolute;
  width: 106px;
  height: 95px;
  top: 479px;
  left: 410px;
}

.desktop .vector {
  position: absolute;
  width: 101px;
  height: 95px;
  top: 639px;
  left: 410px;
}

.desktop .vector-2 {
  position: absolute;
  width: 92px;
  height: 95px;
  top: 639px;
  left: 870px;
}

.desktop .text-wrapper-71 {
  position: absolute;
  width: 255px;
  height: 90px;
  top: 483px;
  left: 553px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.desktop .text-wrapper-72 {
  position: absolute;
  width: 233px;
  height: 59px;
  top: 664px;
  left: 560px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.desktop .text-wrapper-73 {
  position: absolute;
  width: 212px;
  height: 54px;
  top: 507px;
  left: 969px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.desktop .text-wrapper-74 {
  position: absolute;
  width: 212px;
  height: 54px;
  top: 659px;
  left: 985px;
  font-family: "Inria Serif-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}